@(title:String = "")(body: => Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@asset("public/images/favicon.png")">
        <script src="@asset("public/javascripts/jquery-min.js")" type="text/javascript"></script>
        <script src="@asset("public/javascripts/jquery-ui-min.js")" type="text/javascript"></script>
        <script src="@asset("public/javascripts/less-min.js")" type="text/javascript"></script>
        <script src="@asset("public/javascripts/modernizr-min.js")" type="text/javascript"></script>
    </head>
    <body>
        @body
    </body>
</html>
